<?xml version='1.0' encoding='utf-8'?>
<widget id="az.yazz.watchcalendar" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>watchcalendar</name>
    <description>watchcalendar</description>
    <author email="greenzed@gmail.com" href="#">
        Musayev Zaur
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <preference name="android-targetSdkVersion" value="31" />
   
</widget>
